<h1><%= @movie.title %></h1>

<%= image_tag(@movie.poster, width: 500) %>

<% if defined? @movie.my_rating %>
  <h2>Your rating: <%= @movie.my_rating %></h2>
<% end %>

<p>Released <%= @movie.year %> | <%= @movie.mpaa_rating %></p>
<p><%= @movie.plot %></p>

<form action="/movies" method="post">
  <input type="hidden" name="id" value="<%= @movie.id %>">
  <button>Save</button>
</form>



<form action="/movies/favorite" method="post">
  <% if defined? @movie.my_rating %>
  <% # determines whether movie is in database or not %>
    <button>Save & Favorite</button>
  <% else %>
    <button>Favorite</button>
  <% end %>
</form>

<% if defined? @movie.my_rating %>

  <form action="/movies/<%= @movie.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
  </form>

<% end %>